body {
    height: 100%;
    font-size: 1rem;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body,
p,
pre,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
ul,
ol,
li,
form,
select,
input,
textarea,
button,
table,
caption,
tr,
th,
td {
    margin: 0;
    padding: 0;
}

ol,
ul,
li {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
    border: 0 none;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

input,
button,
textarea,
select,
option {
    font-family: inherit;
    font-size: 100%;
    outline: 0;
}

textarea {
    overflow: auto;
    resize: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a:focus,
a:active {
    outline: none;
}

a,
a:focus,
a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

.clear {
    &:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }
}

#app {
    height: 100%;

    .layout {
        display: flex;
        flex-direction: column;
        min-height: 100%;
        background-image: linear-gradient(45deg, rgba(2, 34, 72), rgba(76, 79, 91));
        box-sizing: border-box;

        header {
            flex: 0;

            .main {
                height: 50px;
                width: 1200px;
                margin: 0 auto;
                overflow: hidden;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .logo {
                    height: 50px;
                    width: 200px;
                    overflow: hidden;
                    position: relative;
                    color: #fff;

                    a {
                        display: inline-block;
                        width: 100px;
                        height: 50px;

                        background-image: url("../image/logo.png");
                    }

                    i {
                        position: absolute;
                        bottom: 14px;
                        left: 110px;
                    }
                }

                nav {
                    ul {
                        display: flex;
                        height: 50px;
                        line-height: 50px;

                        li {
                            a {
                                display: inline-block;
                                height: 50px;
                                color: #fff;

                                &::after {
                                    content: "|";
                                    padding: 0 10px;
                                    margin-left: 4px;
                                }
                            }

                            &:last-child {
                                a {
                                    &::after {
                                        content: "";
                                        padding: 0 10px;
                                        margin-left: 4px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        main {
            flex: 1;
            display: flex;
            // border: 1px solid purple;

            .bg {
                flex: 1;

                .main {
                    min-height: 600px;
                    width: 1200px;
                    margin: 0 auto;
                    overflow: hidden;
                    box-sizing: border-box;
                    display: flex;
                    align-items: stretch;
                    justify-content: space-between;
                    // border: 1px solid;
                    height: 100%;

                    section {
                        flex: 1;
                        width: 50%;
                    }

                    .proimg {}

                    .login {
                        display: flex;
                        justify-content: flex-end;

                        .align-right {
                            padding: 0 2px;

                            #loginbox {
                                width: 400px;
                                border-radius: 8px;
                                background: rgba(255, 255, 255, 0.1);
                                backdrop-filter: blur(10px);
                                -webkit-backdrop-filter: blur(10px);
                                box-shadow: 0 0 6px 2px #999;
                                text-align: center;
                                color: white;
                                margin-top: 120px;

                                ul {
                                    height: 60px;
                                    width: 340px;
                                    box-sizing: border-box;
                                    display: flex;
                                    align-items: center;
                                    justify-content: flex-start;
                                    margin: 0 30px;
                                    border-bottom: 1px solid #aaa;

                                    li {
                                        &[aria-selected="true"] {
                                            a {
                                                i {
                                                    position: absolute;
                                                    color: red;
                                                    border: 1px solid;
                                                    bottom: 0px;
                                                    width: 100%;
                                                    left: 0;
                                                    background-color: red;
                                                }
                                            }
                                        }

                                        &:last-child {
                                            margin-left: 30px;
                                        }

                                        a {
                                            display: inline-block;
                                            width: 100%;
                                            height: 60px;
                                            line-height: 60px;
                                            position: relative;
                                        }
                                    }
                                }

                                .tab-content {
                                    width: 400px;
                                    padding: 30px;
                                    box-sizing: border-box;
                                    padding-bottom: 10px;

                                    .login-form {
                                        .check-tips {
                                            color: #ff0000;
                                            margin-top: 10px;
                                        }

                                        .item-box .item {
                                            border-radius: 4px;
                                        }

                                        .item {
                                            width: 338px;
                                            border: 1px solid #ececec;
                                            margin-bottom: 20px;
                                            background: #fff;
                                        }

                                        .focus {
                                            border: 1px solid #a6e1f3;
                                            box-shadow: 0 0 12px #baf7ff;
                                        }

                                        .icon-login-user,
                                        .icon-login-pwd,
                                        .icon-login-verifycode {
                                            display: inline-block;
                                            margin-right: 6px;
                                            width: 24px;
                                            height: 24px;
                                            vertical-align: middle;
                                            background: url("../images/icon24_login.png") no-repeat;
                                            display: none;
                                        }

                                        .icon-login-user {
                                            background-position: 0 0;
                                        }

                                        .icon-login-pwd {
                                            background-position: -48px 0;
                                        }

                                        .icon-login-verifycode {
                                            background-position: -24px 0;
                                        }

                                        input {
                                            width: 338px;
                                            height: 22px;
                                            line-height: 22px;
                                            font-size: 16px;
                                            font-family: "微软雅黑", arial, sans-serif;
                                            vertical-align: middle;
                                            border: 0 none;
                                            background-color: #fff;
                                            outline: 0;
                                            resize: none;
                                            color: #686868;
                                            box-sizing: border-box;
                                            padding: 20px 10px;
                                            border-radius: 4px;
                                        }

                                        #itemBox {
                                            position: relative;
                                        }




                                        .placeholder-copy {
                                            display: none;
                                            position: absolute;
                                            left: 48px;
                                            font-size: 16px;
                                            color: #adadad;
                                        }

                                        .placeholder_un {
                                            top: 13px;
                                        }

                                        .placeholder_pwd {
                                            top: 69px;
                                        }

                                        .placeholder_check {
                                            top: 125px;
                                        }

                                        .verifycode input {
                                            width: 166px;
                                            font-size: 16px;
                                        }

                                        .verifycode img {
                                            vertical-align: middle;
                                        }

                                        .login-btn {
                                            padding: 3px 0;
                                            width: 100%;
                                            height: 42px;
                                            font-size: 18px;
                                            font-weight: bold;
                                            color: #ffffff;
                                            text-align: center;
                                            vertical-align: middle;
                                            cursor: pointer;
                                            border: 0;
                                            background-color: #c13832;
                                            border-radius: 4px;
                                        }

                                        .login-btn:hover {
                                            background-color: #9e1913;
                                        }

                                        .login-btn[disabled] {
                                            opacity: 0.6;
                                            filter: alpha(opacity=60);
                                            cursor: default;
                                            box-shadow: none;
                                        }

                                        .login-btn .in {
                                            display: none;
                                        }

                                        .log-in .in {
                                            display: inline-block;
                                        }

                                        .log-in .on {
                                            display: none;
                                        }

                                        .icon-loading {
                                            display: inline-block;
                                            margin-right: 5px;
                                            width: 16px;
                                            height: 16px;
                                            vertical-align: -3px;
                                            background: url(../images/loading_icon.gif) no-repeat 0 0;
                                        }

                                        .reload-verify {
                                            color: #69c3ff;
                                        }

                                        .welcome {
                                            color: #ddd;
                                            padding: 1px;
                                        }

                                        img.verifyimg {
                                            cursor: pointer;
                                            width: 100%;
                                            height: 60px;
                                        }
                                    }

                                }

                                aside {
                                    display: flex;
                                    flex-direction: column;
                                    padding: 0px 30px;

                                    .forget {
                                        display: flex;
                                        justify-content: space-between;
                                        font-size: 14px;

                                        span {
                                            .fglink::after {
                                                content: "|";
                                                padding: 0 10px;
                                                margin-left: 4px;
                                            }
                                        }
                                    }

                                    .thirdpart {
                                        display: flex;
                                        justify-content: center;
                                        padding: 70px 0 30px;

                                        h5 {
                                            color: #ccc;
                                        }

                                        .tdpicon {
                                            display: flex;
                                            justify-content: center;
                                            margin-top: 20px;

                                            img {
                                                width: 40px;
                                                border-radius: 40px;
                                                height: 40px;
                                                margin: 0 10px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        footer {
            flex: 0;

            .main {
                height: 50px;
                width: 1200px;
                margin: 0 auto;
                overflow: hidden;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 12px;
                color: #fff;
            }
        }
    }
}